ion-segment {
  inset-block-end: 0;
  inset-inline-start: 0;
  inset-inline-end: 0;
  z-index: 100;
  --background: #f7f7f7;
  position: fixed;
}

ion-content {
  block-size: 100vh;
}

ion-searchbar {
  background-color: #f7f7f7;
}

ion-segment-button {
  padding: 7px;
}

ion-segment-button ion-label {
  font-size: 13px;
}

ion-segment-button ion-icon {
  font-size: 24px;
}

.p-inputtext:focus,
.p-password input:focus,
.p-dropdown:focus,
.p-calendar input:focus,
.p-inputgroup input:focus,
.p-multiselect:focus,
textarea:focus {
  border-color: #6b7280;
  box-shadow: none;
  outline: none;
}

.p-button:focus {
  box-shadow: none;
  outline: none;
}

.p-checkbox:not(.p-disabled):has(.p-checkbox-input:hover).p-highlight
  .p-checkbox-box {
  border-color: #6b7280;
  background-color: black;
}

ion-tab-button {
  color: black;
}

ion-checkbox {
  --checkbox-background-checked: black;
}

ion-checkbox::part(container) {
  border: 1px solid black;
}
